<div class="about">
  <div class="about-section">
    <h1>About Us</h1>
    <p>Cinema4all.</p>
    <p>All Movies in you hands</p>
  </div>

  <h2 style="text-align: center">Our Team</h2>
  <div class="row-about">
    <div class="column-about">
      <div class="card-about">
        <img src="" alt="Muhannad" style="width: 100%" />
        <div class="container-about">
          <h2>Muhannad Satouf</h2>
          <p class="title-about">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>muhannad2satouf@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column-about">
      <div class="card-about">
        <img src="" alt="Martin" style="width: 100%" />
        <div class="container-about">
          <h2>Martin Wall</h2>
          <p class="title-about">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>martin.wall@gmail.com</p>
        </div>
      </div>
    </div>

    <div class="column-about">
      <div class="card-about">
        <img src="" alt="Liliia" style="width: 100%" />
        <div class="container-about">
          <h2>Liliia Allansson</h2>
          <p class="title-about">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>liliia.allansson@gmail.com.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
