<article id='booking'>
  <div class="book-class">
    <div class="schedules">
      <h2>Schedule</h2>
      <label> <span>Specify date:</span><input type="date" id="date"></label>
      <button class="checkout_btn" onClick="filter()">Filter</button>
      <div class="filtered_schedule"></div>
    </div>
    <div class="movie-container">
      <label>Make your choice:</label>
      <select id="movie">
        <option></option>
      </select>
    </div>

    <ul class="showcase">
      <li>
        <div class="seat"></div>
        <small>Available</small>
      </li>
      <li>
        <div class="seat selected"></div>
        <small>Selected</small>
      </li>
      <li>
        <div class="seat occupied"></div>
        <small>Occupied</small>
      </li>
    </ul>
    <div class="container">
      <div class="screen"></div>
      <div class="places"></div>
      <p class="text" id="totals">
        You have selected <span id="count">0</span> seats
      </p>
      <button class="checkout_btn" onClick="continue_()">Continue</button>
    </div>
    <div class="records" id="records_checkout">

    </div>
</article>