<link rel="stylesheet" href="/css/style.css" />
<!--Filter Box-->
<div class="filter-box">
  <div class="age-filter">
    <label class="filter-label">
      Age
      <select name="filter-down-box">
        <option value="age-16">+16</option>
        <option value="age-10">+10</option>
        <option value="age-6">+6</option>
      </select>
    </label>
  </div>
  <div class="type-filter">
    <label class="filter-label">
      Type
      <select name="filter-down-box">
        <option value="action">Action</option>
        <option value="comedy">Comedy</option>
        <option value="drama">Drama</option>
        <option value="horror">Horror</option>
      </select>
    </label>
  </div>
</div>
