<!--<article>
  <button onclick="document.getElementById('LoginBox').style.display='block'" style="width:auto;">Login</button>
  <link rel="stylesheet" href="../css/login.css" />
  <form id="LoginBox" class="modal">

    <div class="modal-content animate">
      <div class="imgcontainer">
        <span onclick="document.getElementById('LoginBox').style.display='none'" class="close"
          title="Close Modal">&times;</span>

      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id="userAlias" type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input id="password" type="password" placeholder="Enter Password" name="psw" required>
        <button id="loginButton" type="submit">Login</button>

      </div>

      <div class="container" style="background: color #000;">
        <button id='cancelButton' type="button"
          onclick="document.getElementById('LoginBox').style.display='none'&& document.location.replace('/')"
          class="cancelbtn">Cancel</button>
      </div>
  </form>
  </div>
</article>