
<article>
  <button onclick="document.getElementById('LoginBox').style.display='block'" style="width:auto;">Login</button>
<link rel="stylesheet" href="../css/login.css" />
  <div id="LoginBox" class="modal">

    <form class="modal-content animate" action="/action_page.php" method="get">
      <div class="imgcontainer">
        <span onclick="document.getElementById('LoginBox').style.display='none'" class="close"
          title="Close Modal">&times;</span>

      </div>

      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
        <button type="submit">Login</button>

      </div>

      <div class="container" style="background: color #000;">
        <button id='cancelButton'type="button" onclick="document.getElementById('LoginBox').style.display='none'&& document.location.replace('/')"
          class="cancelbtn">Cancel</button>
      </div>
    </form>
  </div>
</article>
