<link rel="stylesheet" href="/css/style.css" />
<!--Movies Grid-->
<section class="movies" id="movies">
  <h2 class="heading-title">IN THE CINEMA</h2>
  <div class="movies-container">
    <!--Box1 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/spider-man.jpeg" alt="" />
      </div>
      <h3>Spider Man</h3>
      <span>130 min / Action </span>
    </div>
    <!--Box2 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/moonfall.jpg" alt="" />
      </div>
      <h3>Moon Fall</h3>
      <span>130 min / Action </span>
    </div>
    <!--Box3 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/nightmare-ally.jpg" alt="" />
      </div>
      <h3>Nightmare Alley</h3>
      <span>130 min / Action </span>
    </div>
    <!--Box4 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/scream.jpeg" alt="" />
      </div>
      <h3>Scream</h3>
      <span>130 min / Action </span>
    </div>
    <!--Box5 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/The-Kings-Man.jpg" alt="" />
      </div>
      <h3>The King's Man</h3>
      <span>130 min / Action </span>
    </div>
    <!--Box6 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/scream.jpeg" alt="" />
      </div>
      <h3>Scream</h3>
      <span>130 min / Action </span>
    </div>
    <!--Box7 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/The-Kings-Man.jpg" alt="" />
      </div>
      <h3>The King's Man</h3>
      <span>130 min / Action </span>
    </div>
    <!--Box8 -->
    <div class="box">
      <div class="box-img">
        <img src="/images/The-Kings-Man.jpg" alt="" />
      </div>
      <h3>The King's Man</h3>
      <span>130 min / Action </span>
    </div>
  </div>
</section>
